* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
}

.search-form {
    padding: 0;
    text-align: center;
}

.search-form input {
    width: 400px;
    line-height: 24px;
    font-size: 16px;
    padding: 5px;
}

.search-form button {
    margin-left: 5px;
    line-height: 28px;
    color: white;
    background-color: lightgrey;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    width: 80px;
    padding: 5px;

}

.search-results {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.search-results img {
    margin: 30px 30px 0px 0px;
    border: 2px solid black;
}